### Kristiania PGR112 ###
code/**/code/**/*
code/**/src/**/*
# eksempel filer
files/example/**/*
!files/example/.placeholder
# filer i forbindelse med forelesniger
!files/lecture/**/*
# student filer
student/**/*
!student/**/public/**/*
!student/**/src/**/*
!student/README.md

### Mavens artifacts ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# markering av mapper mtp. kildekode og filer
!PGR112v24.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store